body {
  text-align: center;
  background-color: gray;
}

#itemSold {
  color: black;
  background-image: linear-gradient(to left bottom, #f0d547, #916f27, #f1d547);
  width: 300px;
  height: 100px;
  border: 2px #d0b64f groove;
  border-radius: 20px;
  position: absolute;
  margin: 5px;
  left: 0px;
  bottom: 0px;
}

#itemSold h4 {
  margin: -15px;
}
