@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
   --gold: #d0b64f;
   --ltGold: #f0d547;
   --dkGold: #916f27;
   --dkSteel: #222;
   --ltSteel: #444;
   --white: #f8f9fa;
}

body {
	background: url(../img/kitsugi.gif);
	background-size: cover;
	background-attachment: fixed;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

main > .container {
	padding: 60px 15px 0;
}

main {
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
}

.navbar {
	font-family: 'Italianno', cursive;
	padding-top: 0;
	padding-bottom: 0;
}

.font-raleway {
	font-family: 'Raleway', sans-serif;
}

.nav-item a {
	font-size: 2em;
}

.navbar-dark .navbar-nav .nav-link {
	color: var(--dkSteel);
}

.navbar-dark .navbar-nav .nav-link:active {
	color: var(--dkSteel);
}

.navbar-dark .navbar-toggler {
	color: rgba(255, 255, 255, 0.55);
	border: var(--gold) 3px groove;
}

.dropdown-item {
	color: var(--white);
}

.dropdown-item:hover {
	background-color: rgba(34, 34, 34, 0.4);
	color: var(--gold);
}

.header-logo {
	font-size: 3em;
	text-decoration: none;
}

.header-logo > span {
	font-size: smaller;
	font-weight: 900;
}

.header-logo:hover {
	color: var(--gold);
}

.nav-item:hover {
	border-radius: 15px;
	background: rgba(34, 34, 34, 0.3);
	transition: background 1s;
}

.full-height {
	height: 100vh;
}

.full-width {
	width: 100vw;
}

.hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: #f0d547;
}

.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: url(../img/showcase01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: brightness(40%);
}

.hero-content {
	position: relative;
}

.hero-content {
	position: relative;
	text-align: center;
}

.hero-title {
	font-size: 3rem;
	font-weight: 600;
}

.hero-subtitle {
	font-size: 2rem;
	font-weight: 200;
}


#technologies {
	width: 100%;
}

.tech-icons{
	font-size: 2.5rem;
	font-family: "devicons";
}

.height550 {
	height: 450px;
}

.thick {
	font-weight: 600;
}

#contact, 
.bevelMe {
	border-radius: 20px;
}

.footer-radius {
	border-radius: 20px 20px 0 0;
}

.list-group-item-hover:hover {
	background-color: rgba(208, 182, 79, 0.2);
	cursor: pointer;
}

.no-bullet {
	list-style-type: none;
}

.footer-list {
	padding: 0;
	line-height: 1;
	font-size: smaller;
}

footer li {
	padding-top: 4px;
}

footer a:hover,
footer i:hover {
	color: var(--white);
}

.footer-p a:hover {
	color: var(--white);
}

.footer-p {
	font-size: x-small;
	margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
   .nav-link i {
      color: var(--gold);
   }
}

@media only screen and (max-width: 450px) {
	.header-logo {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 340px) {
	.header-logo {
		font-size: 1em;
	}
}

.bg-gold {
	background-image: linear-gradient(to left bottom, var(--ltGold), var(--dkGold), var(--ltGold));
}

.border-gold {
	border: var(--gold) 3px groove;
}

.border-top-gold {
	border-top: var(--gold) 5px groove;
	box-shadow: 0px 10px 10px var(--gold);
}

.text-gold {
	color: var(--gold);
}

.text-gb:hover {
	color: var(--dkSteel);
}

.text-bg:hover {
	color: var(--gold);
}

.link-white-gold-hover:hover {
	color: var(--gold);
}

.text-gw:hover {
	color: var(--white);
}

.text-black {
	color: var(--dkSteel);
}

.bg-black {
	background-color: rgba(34, 34, 34, 1);
}

.bg-black-2 {
	background-color: rgba(34, 34, 34, 0.2);
}

.bg-black-4 {
	background-color: rgba(34, 34, 34, 0.4);
}

.bg-black-6 {
	background-color: rgba(34, 34, 34, 0.6);
}

.bg-black-8 {
	background-color: rgba(34, 34, 34, 0.8);
}

.bg-steel {
	background-image: linear-gradient(to left bottom, var(--dkSteel), var(--ltSteel), var(--dkSteel));
}

.lists {
	background-image: linear-gradient(to left bottom, #f0d547, #916f27, #f1d547);
	border: #d0b64f 5px groove;
	border-radius: 20px;
	margin: 0 auto 10px;
	padding: 5px 20px;
	color: black;
}

.lists a {
	color: var(--dksteel);
}

.lists a:hover {
	color: var(--white)
}

.screenshot {
	width: 30%;
	top: 100px;
	left: 50%;
}

#selfPortrait {
	border: 0;
	border-radius: 50%;
	height: 16rem;
}